<ion-header>
  <ion-toolbar>
    <ion-title>Select Meal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="search" (ionInput)="onSearchChange($event)" placeholder="Search meals..."></ion-searchbar>

  <ion-list>
    <ion-item button *ngFor="let name of filteredTitles" (click)="selectMeal(name)">
      {{ name }}
    </ion-item>
  </ion-list>
</ion-content>
