<ion-header>
  <ion-toolbar>
    <ion-title>Add Meal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-item lines="none">
    <div style="display: flex; align-items: flex-end; gap: 8px; width: 100%;">
      <ion-item style="flex: 1;" lines="none">
        <ion-label position="stacked">Meal Title</ion-label>
        <ion-input
          [(ngModel)]="title"
          placeholder="Enter meal name"
          (ionInput)="onTitleInput()">
        </ion-input>
      </ion-item>

      <ion-item style="width: 90px;" lines="none">
        <ion-label position="stacked">Calories</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="calories"
          placeholder="100">
        </ion-input>
      </ion-item>

      <ion-button (click)="openLoadMealsModal()" size="small">Load</ion-button>
    </div>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Date & Time</ion-label>
    <ion-datetime [max]="todayISO"
        (ionChange)="date = $event.detail.value">
    </ion-datetime>
  </ion-item>

  <ion-text color="medium">
    Selected: {{ date | date:'yyyy-MM-dd HH:mm' }}
  </ion-text>

  <ion-button expand="full" (click)="save()">Save</ion-button>
</ion-content>
